<%= form_for model,
      url: remote_update_path(model: 'deck', partial: 'deck_form', swap_id: "deck-form-#{model.id}"),
      remote: true,
      html: { id: "deck-form-#{model.id}" } do |f| %>
  <%= f.hidden_field :id %>
  <%= f.check_box :practice_mode, onclick: 'Rails.fire(this.parentElement, "submit")' %>
<% end %>
