<div>
  <div>Loop</div>
  <%= form_for model,
        url: remote_update_path(model: 'user', partial: 'settings', swap_id: 'settings-form'),
        remote: true,
        html: { id: 'settings-form' } do |f| %>
    <%= f.hidden_field :id %>
    <%= f.check_box :loop, onclick: 'Rails.fire(this.parentElement, "submit")' %>
  <% end %>
</div>
<div>
  <div>Autoplay</div>
  <%= form_for model,
        url: remote_update_path(model: 'user', partial: 'settings', swap_id: 'settings-form'),
        remote: true,
        html: { id: 'settings-form' } do |f| %>
    <%= f.hidden_field :id %>
    <%= f.check_box :autoplay, onclick: 'Rails.fire(this.parentElement, "submit")' %>
  <% end %>
</div>
