<div id='overlay'>
  <div id='remote-update-notice'>Update Successful</div>
</div>
<div id='home'>
  <section>
    <h2>Menu</h2>
    <ul>
      <li><%= link_to 'Start practice', practice_path %></li>
      <li><%= link_to 'Create new deck', [:new, :admin, :deck] %></li>
      <li><%= link_to 'Browse all data', admin_decks_path(deck: { direction: :desc, order: :created_at }) %></li>
      <li><%= link_to 'Recent Practice', admin_rates_path(rate: { direction: :desc, order: :created_at }) %></li>
      <li><%= link_to 'Sign out', destroy_session_path(:user), method: :delete %></li>
    </ul>
  </section>
  <section>
    <h2>Quick Preview</h2>
    <div id='quick-preview-body'>
      <%= form_for :quick_review, url: quick_preview_path do |f| %>
        <%= f.text_field :video_id_or_url, placeholder: "Video ID or URL" %>
        <%= f.button 'Go', value: 'go' %>
      <% end %>
    </div>
  </section>
  <section>
    <h2>Settings</h2>
    <div id='settings-body'>
      <%= render partial: 'settings', locals: { model: current_user } %>
    </div>
  </section>
  <section>
    <h2>Decks</h2>
    <div id='decks-table-container'>
      <div class='table'>
        <div class='table__header'>
          <div>Name (Practice)</div>
          <div>0</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>?</div>
          <div>Total</div>
        </div>
        <div class='table__body'>
          <!-- TODO: Should cache deck.get_stats -->
          <% @decks.each do |deck| %>
            <div>
              <% h = deck.get_stats %>
              <div><%= link_to deck.name,
                          practice_path(deck_id: deck.id,
                                        entry_id: deck.ordered_entries.first.id,
                                        seq_mode: true) %></div>
              <div>
                <%= render partial: 'deck_form', locals: { model: deck } %>
              </div>
              <div>
                <a id='download' target='_blank' href='<%= "https://youtube-dl-service.herokuapp.com/download?video=#{deck.video_id}" %>'>
                  <i class="material-icons">get_app</i>
                </a>
              </div>
              <div><%= h[0] %></div>
              <div><%= h[1] %></div>
              <div><%= h[2] %></div>
              <div><%= h[3] %></div>
              <div><%= h[nil] %></div>
              <div><%= deck.entries.length %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Practice log</h2>
    <div id='practice-log-table-container'>
      <div class='table'>
        <div class='table__header'>
          <div>Date</div>
          <div>0</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>Total</div>
        </div>
        <div class='table__body'>
          <% @rates_by_dates.each do |date, h| %>
            <div>
              <div><%= date %></div>
              <div><%= h[0] %></div>
              <div><%= h[1] %></div>
              <div><%= h[2] %></div>
              <div><%= h[3] %></div>
              <div><%= h[0] + h[1] + h[2] + h[3] %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>CSV Export Links</h2>
    <ul>
      <% attrs = current_user.attributes.slice('id', 'api_key') %>
      <li><%= link_to "Decks", export_url(attrs.merge(type: 'decks')) %></li>
      <li><%= link_to "Rates", export_url(attrs.merge(type: 'rates')) %></li>
      <li><%= link_to "Regenerate API key", generate_api_key_path %></li>
    </ul>
  </section>
</div>
