<div id="app">
  <div id="player-container">
    <div id="player-aspect-ratio-fixer1">
      <div id="player-aspect-ratio-fixer2">
        <div id="player-iframe"></div>
      </div>
    </div>
  </div>
  <div id="subtitle-container">
    <!-- double click on mobile won't work? -->
    <% @deck.ordered_entries.each do |entry| %>
      <div
        class="entry"
        onclick="togglePlayEntry(this)"
        data-id="<%= entry.id %>"
        data-begin_sec="<%= entry.begin_sec %>"
        data-end_sec="<%= entry.end_sec %>"
        data-rate="<%= @rate_entry && entry.id == @rate_entry.id %>"
        data-play=""
        data-paused=""
        data-loop=""
      >
        <div class="entry__header">
          <div class="log">
            <% entry.rates.each do |rate| %>
              <div><%= rate.value %></div>
            <% end %>
          </div>
          <div class="time"><%= entry.begin_slim %> - <%= entry.end_slim %></div>
          <div class="rate">
            <%= link_to practice_path(deck_id: @deck.id, entry_id: entry.id, seq_mode: @seq_mode) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </div>
          <div class="loop">
            <i class="material-icons" onclick="event.stopPropagation(); toggleLoopingEntry(this.closest('.entry'))">repeat</i>
          </div>
          <div class="play">
            <i class="material-icons" onclick="togglePlayEntry(this.closest('.entry'))">play_circle_outline</i>
          </div>
        </div>
        <div class="entry__body">
          <div><%= entry.text1 %></div>
          <div><%= entry.text2 %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="nav">
    <%= link_to 'Home', root_path %>
    <% [0, 1, 2, 3].each do |v| %>
      <div onclick='this.firstElementChild.submit()'>
        <%= form_for @rate_entry.rates.new(value: v),
                      url: rate_path(seq_mode: @seq_mode) do |f| %>
          <%= f.hidden_field :entry_id %>
          <%= f.hidden_field :value %>
          <%= v %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>

// Globals
var G_player;
var G_iframe;
var G_rateEntry;
var G_loopingEntries;
var G_interval;
var G_practice_info = <%= raw @practice_info.to_json %>;

class Player {
  constructor() {
    this.apiReadyP = null; this.readyP = null;
    this.apiReady = false; this.ready = false;
    this.player = null;
    this.initializeApi();
  }
  initializeApi() {
    this.apiReadyP = new Promise(resolve => {
      window.onYouTubeIframeAPIReady = () => {
        this.apiReady = true;
        resolve(window.YT);
      }
    });
  }
  initializeIframe(node, options) {
    this.readyP = new Promise(resolve => {
      this.apiReadyP.then(YT => {
        this.YT = YT;
        options = Object.assign({}, options, {
          events: {
            onReady: () => {
              this.ready = true;
              resolve();
            }
          }
        });
        this.player = new this.YT.Player(node, options);
      });
    });
  }
  seekTo(sec) {
    this.player.seekTo(sec);
  }
  getCurrentTime() {
    return this.player.getCurrentTime();
  }
  isPaused() {
    return this.player.getPlayerState() == 2;
  }
  pauseVideo() {
    this.player.pauseVideo();
  }
  playVideo() {
    this.player.playVideo();
  }
}

function init() {
  G_player = new Player;
  G_iframe = document.querySelector('#player-iframe');
  G_rateEntry = document.querySelector('.entry[data-rate="true"]');
  G_loopingEntries = G_rateEntry && G_practice_info.loop ? [G_rateEntry] : [];
};

function main() {
  if (G_rateEntry) { scrollToEntry(G_rateEntry) };
  G_player.initializeIframe(G_iframe, {
    videoId: G_practice_info.video_id,
    height: '480', width: '853',
    playerVars: {
      autoplay: G_practice_info.autoplay ? '1' : '0',
      start: G_practice_info.begin_sec
    },
  });
  G_player.readyP.then(() => {
    G_interval = window.setInterval(() => {
      // Reset style
      Array.from(document.querySelectorAll('.entry')).forEach(n => {
        n.setAttribute('data-play', '');
        n.setAttribute('data-paused', '');
        n.setAttribute('data-loop', '');
      })

      // Set new playing entry
      var time = G_player.getCurrentTime();
      var currentEntry = findCurrentEntry(time);
      if (currentEntry) {
        currentEntry.setAttribute(G_player.isPaused() ? 'data-paused' : 'data-play', 'true');
      }

      // Loop entry
      if (G_loopingEntries.length > 0) {
        G_loopingEntries.map(n => n.setAttribute('data-loop', 'true'));
        var b = _.min(G_loopingEntries.map(n => Number(n.getAttribute('data-begin_sec'))));
        var e = _.max(G_loopingEntries.map(n => Number(n.getAttribute('data-end_sec'))));
        if (time < b || e < time) {
          G_player.seekTo(b);
        }
      }
    }, 250);
  });
}

function findCurrentEntry(time) {
  var nodes = Array.from(document.querySelectorAll('.entry')).reverse();
  var node = nodes.find(n => {
    var b = Number(n.getAttribute('data-begin_sec'));
    var e = Number(n.getAttribute('data-end_sec'));
    return b <= time;
  });
  return node;
}

function togglePlayEntry(node) {
  if (!G_loopingEntries.includes(node)) {
    G_loopingEntries = [];
  }
  var time = G_player.getCurrentTime();
  var currentEntry = findCurrentEntry(time);
  if (node == currentEntry) {
    if (G_player.isPaused()) {
      G_player.playVideo();
    } else {
      G_player.pauseVideo();
    }
  } else {
    var entryTime = Number(node.getAttribute('data-begin_sec'));
    G_player.seekTo(entryTime);
    G_player.playVideo();
  }
}

function toggleLoopingEntry(node) {
  if (G_loopingEntries.includes(node)) {
    G_loopingEntries = G_loopingEntries.filter(n => n !== node);
  } else {
    G_loopingEntries.push(node);
  }
}

function setRateEntry(node) {

}

function scrollToEntry(entry) {
  entry.parentNode.scrollTop =
    entry.offsetTop
    - entry.parentNode.offsetTop
    - entry.parentNode.offsetHeight / 2
    + entry.offsetHeight / 2;
}

init();
document.addEventListener('DOMContentLoaded', function() {
  main();
});

</script>
<script type="text/javascript" async="" src="https://www.youtube.com/iframe_api"></script>
