var notice = document.querySelector("#remote-update-notice");
notice.className = '';
// NOTE: for some browser, timeout 0 doesn't trigger animation.
window.setTimeout(() => notice.className = 'show', 10);

document.querySelector("#<%= params[:swap_id] %>").innterHTML =
  "<%= j (render partial: params[:partial], locals: { model: @model }) %>";
