<% subtitle_info[:tracks].each do |track| %>
  <%= tag.option track[:name],
          value: track[:url],
          selected: selected == track[:url] %>
<% end %>
<% subtitle_info[:tracks].each do |track| %>
  <%= tag.optgroup label: "-- Auto-translations from #{track[:name]} --" do %>
    <% subtitle_info[:translations].each do |translation| %>
      <% url = "#{track[:url]}&tlang=#{translation[:code]}" %>
      <%= tag.option translation[:name],
              value: url,
              selected: selected == url %>
    <% end %>
  <% end %>
<% end %>
