<% content_for(:title) do %>
  <%= t(
    "administrate.actions.new_resource",
    name: display_resource_name(page.resource_name).titleize
  ) %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to t("administrate.actions.back"), :back, class: "button" %>
  </div>
</header>

<section class="main-content__body">
  <%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
    <% if page.resource.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= t(
            "administrate.form.errors",
            pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
            resource_name: display_resource_name(page.resource_name)
          ) %>
        </h2>

        <ul>
          <% page.resource.errors.full_messages.each do |message| %>
            <li class="flash-error"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <div class="field-unit">
      <div class="field-unit__label">
        <%= f.label :video_id, 'Youtube Video ID' %>
      </div>
      <div class="field-unit__field">
        <%= f.text_field :video_id %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label"></div>
      <div class="field-unit__field">
        <%= f.button 'Show Available Subtitles', value: 'load_subtitle_list' %>
      </div>
    </div>

    <div class="field-unit">
      <%= render_field page.attributes.find{|field| field.attribute == :name }, f: f %>
    </div>

    <%= f.hidden_field :subtitle_info_json %>

    <div class="field-unit">
      <div class="field-unit__label">
        <%= f.label :subtitle1_url, '1st Subtitle' %>
      </div>
      <div class="field-unit__field">
        <%= f.select :subtitle1_url do %>
          <%= render 'subtitle_options',
                subtitle_info: f.object.subtitle_info,
                selected:      f.object.subtitle1_url %>
        <% end %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label">
        <%= f.label :subtitle2_url, '2nd Subtitle' %>
      </div>
      <div class="field-unit__field">
        <%= f.select :subtitle2_url do %>
          <%= render 'subtitle_options',
                subtitle_info: f.object.subtitle_info,
                selected:      f.object.subtitle2_url %>
        <% end %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label"></div>
      <div class="field-unit__field">
        <%= f.button 'Show Subtitle Texts', value: 'load_subtitle_texts', disabled: f.object.subtitle_info[:tracks].empty? %>
        <%= f.button 'Create Deck', value: 'create', disabled: f.object.entries.empty? %>
      </div>
    </div>

    <%= f.fields_for :entries do |entry_f| %>
      <%= entry_f.hidden_field :begin %>
      <%= entry_f.hidden_field :end %>
      <%= entry_f.hidden_field :text1 %>
      <%= entry_f.hidden_field :text2 %>
    <% end %>

    <table class="deck-entries-table">
      <thead>
        <tr>
            <th class="cell-label cell-label--string cell-label--false">Timestamp</th>
            <th class="cell-label cell-label--string cell-label--false">Text1</th>
            <th class="cell-label cell-label--string cell-label--false">Text2</th>
        </tr>
      </thead>
      <tbody>
        <% f.object.entries.each do |entry| %>
          <tr class="js-table-row">
            <td class="cell-data cell-data--string"><%= entry.begin %> - <%= entry.end %></td>
            <td class="cell-data cell-data--string"><%= entry.text1 %></td>
            <td class="cell-data cell-data--string"><%= entry.text2 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</section>
