$flashes: (
  "alert": #fff6bf,
  "error": #fbe3e4,
  "notice": #e5edf8,
  "success": #e6efc2,
) !default;

@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    padding: 10px;
    background-color: $color;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }
}
