#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;

  @media (min-width: $bp-md) {
    max-width: $bp-md;
    margin-top: 10px;
  }

  #remote-update-notice {
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 15px;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5);
    background: #d7f3ff;
    color: #555;
    visibility: hidden;

    &.show {
      visibility: visible;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation-fill-mode: forwards;
    }
    @keyframes fadein {
      from {top: 0; opacity: 0;}
      to {top: 10px; opacity: 1;}
    }
    @keyframes fadeout {
      from {top: 10px; opacity: 1;}
      to {top: 0; opacity: 0;}
    }
    @keyframes fadeout {
      from {top: 10px; opacity: 1;}
      to {top: 0; opacity: 0;}
    }
  }
}

#home {
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-md) {
    max-width: $bp-md;
    margin: 10px auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  padding: 15px 30px;
  background: white;
  font-size: 14px;

  section {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    > h2 {
      margin: 0 0 10px 0;
      font-size: 20px;
    }

    > ul {
      margin-left: 25px;
      line-height: 22px;
      list-style: initial;
    }
  }
}

#quick-preview-body {
  padding-top: 3px;

  form {
    display: flex;

    input {
      border: none;
      border: 1px solid $grey-4;
      padding: 2px 5px;
      border-radius: 2px 0 0 2px;
    }

    button {
      border: none;
      border: 1px solid $grey-4;
      border-left: none;
      border-radius: 0 2px 2px 0;
      padding: 0 8px;
    }
  }
}
#settings-body {
  display: flex;
  flex-direction: row;
  padding: 0 10px;

  > div {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    align-items: center;

    > div {
      margin-right: 5px;
    }

    > form {
      position: relative;
      top: 2px;
    }
  }
}

#decks-table-container {
  overflow-x: auto;
  padding: 3px;

  #download > i {
    font-size: 16px;
  }

  .table {
    display: flex;
    flex-direction: column;
    min-width: 500px;

    &__header { // thead, tr
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid lightgrey;

      > div { // th
        flex: 1 1 10%;
        padding: 4px 6px;
        text-align: center;
        font-weight: 500;

        &:not(:last-child) {
          border-right: 1px solid lightgrey;
        }

        &:nth-child(1) {
          flex: 0 0 180 + 35 + 35px;
        }
        &:last-child {
          flex: 0 0 60px;
        }
      }
    }

    &__body { // tbody
      display: flex;
      flex-direction: column;

      > div { // tr
        display: flex;
        flex-direction: row;

        &:not(:last-child) {
          border-bottom: 1px solid lightgrey;
        }

        > div { // td
          flex: 1 1 10%;
          padding: 4px 6px;
          text-align: end;

          &:not(:last-child) {
            border-right: 1px solid lightgrey;
          }

          &:nth-child(1) {
            flex: 0 0 auto;
            width: 180px;
            font-size: 13px;
            text-align: start;
            align-self: center;
            white-space: nowrap;
            overflow-x: auto;

            &::-webkit-scrollbar {
              height: 2px;
            }
            &::-webkit-scrollbar-thumb {
              background: hsla(0, 0%, 50%, 0);
            }
            &:hover {
              &::-webkit-scrollbar-thumb {
                background: hsla(0, 0%, 50%, 0.5);
              }
            }
          }
          &:nth-child(2) {
            flex: 0 0 35px;
            text-align: center;
          }
          &:nth-child(3) {
            flex: 0 0 35px;
            text-align: center;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}

#practice-log-table-container {
  overflow-x: auto;
  padding: 3px;

  .table {
    display: flex;
    flex-direction: column;
    min-width: 290px;

    &__header { // thead, tr
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid lightgrey;

      > div { // th
        flex: 1 1 0%;
        overflow: hidden;
        padding: 4px 6px;
        text-align: center;
        font-weight: 500;

        &:not(:last-child) {
          border-right: 1px solid lightgrey;
        }

        &:nth-child(1) {
          flex: 0 0 100px;
        }
      }
    }

    &__body { // tbody
      display: flex;
      flex-direction: column;

      > div { // tr
        display: flex;
        flex-direction: row;

        &:not(:last-child) {
          border-bottom: 1px solid lightgrey;
        }

        > div { // td
          flex: 1 1 0%;
          overflow: hidden;
          padding: 4px 6px;
          text-align: end;

          &:not(:last-child) {
            border-right: 1px solid lightgrey;
          }

          &:nth-child(1) {
            flex: 0 0 100px;
            text-align: center;
          }
        }
      }
    }
  }
}
