#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: $bp-md;
  margin: 0 auto;
}

#player-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  // Usual aspect-ratio fixing tricks
  #player-aspect-ratio-fixer1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 450px;

    #player-aspect-ratio-fixer2 {
      padding-top: 56.25%;
      position: relative;

      #player-iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
      }
    }
  }

  &::after {
    box-shadow: inset 0px 5px 7px -7px rgba(0, 0, 0, 0.5);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
    bottom: -5px;
  }
}

#subtitle-container {
  overflow-y: auto;
  padding: 5px;
}

#nav {
  flex: 0 0 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  > a {
    text-decoration: none;
    color: initial;
  }
  > * {
    flex: 1 0 19%; // Subtract a bit to accomodate "border-right"
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      border-right: 1px solid $grey-3;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $grey-5;
    }
  }

  &::before {
    box-shadow: inset 0px -5px 7px -7px rgba(0, 0, 0, 0.5);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
    top: -5px;
  }
}

.entry {
  font-size: 13px;
  line-height: 15px;
  color: $grey-9;
  background-color: $grey-0;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2),
              0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 7px 6px 7px;
  margin-bottom: 4px;
  cursor: pointer;

  &[data-rate="true"] {
    background-color: $col-x;
    > .entry__header > .rate > a {
      color: rgba(0, 0, 255, 0.7);
    }
  }

  &[data-paused="true"] {
    border: 2px dashed rgba(0, 0, 255, 0.2);
    padding: 1px 5px 4px 5px; // Subtract a bit for border
  }

  &[data-play="true"] {
    border: 2px dashed rgba(0, 0, 255, 0.4);
    padding: 1px 5px 4px 5px; // Subtract a bit for border

    > .entry__header > .play {
      color: rgba(0, 0, 255, 0.7);
    }
  }

  &[data-loop="true"] {
    > .entry__header > .loop {
      color: rgba(0, 0, 255, 0.7);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1px;

    .log {
      flex: 1 0 auto;
      display: flex;
      padding-left: 1px;

      > div {
        color: $grey-7;
        border: 1px solid $grey-5;
        border-radius: 2px;
        width: 14px;
        height: 14px;
        font-size: 11px;
        text-align: center;
        padding: 0px 1px 0px 0px;
        line-height: 13px;
        margin-right: 1px;
      }
    }

    .time {
      color: $grey-7;
    }

    a {
      color: $grey-5;
      text-decoration: initial;
    }

    .rate, .loop, .play {
      position: relative;
      top: 1px;
      padding-left: 6px;
      cursor: pointer;
      color: $grey-5;

      i {
        font-size: 16px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

    > div {
      flex: 1 1 50%;

      &:first-child {
        padding-right: 7px;
        border-right: 1px solid $grey-3;
      }
      &:not(:first-child) {
        padding-left: 7px;
      }
    }
  }
}
