<!DOCTYPE html>
<html>
  <head>
    <title>AnkiTube</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.png" sizes="32x32" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>"><%= value.html_safe %></div>
      <% end -%>
    <% end %>

    <%= yield %>
  </body>
</html>
